<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
	<section>

		<!-- slide goes here -->
		<div class="slide-main" id="slideMain">
			<div class="new-arrival">
				<p>New Arrival</p>
				<h2>Discover Our</h2>
				<h2>New Collection</h2>
				<P>This is the new tranding shoes for males and it is not too
					expensive So move to next step for buy this shoes and stay happy..</P>
				<button class="hero-btn">BUY NOW</button>
			</div>
		</div>

		<!-- slide ends here -->

		
		<!-- Discount section -->
		
		<div class="next">
			<h1>Offer Offer Offer!!! 20% Off</h1>
			<p>Here the newly come out tranding product with 20% discount so
				checkout the product and buy if you love.</p>
		</div>
		<div class="main">

			<!--cards -->

			<div class="card11">

				<div class="image1">
					<img src="/img/Digital Watch.jpg">
				</div>
				<div class="title">
					<h1>Digital Watchs</h1>
				</div>
				<div class="des">
					<p>We Will Add Desccription about watchs here..</p>
					<button class="hero-btn">BUY NOW</button>
				</div>
			</div>
			<!--cards -->


			<div class="card11">

				<div class="image1">
					<img src="/img/earpot.jpg">
				</div>
				<div class="title">
					<h1>Earpots</h1>
				</div>
				<div class="des">
					<p>We Will Add Desccription about Earpots here..</p>
					<button class="hero-btn">BUY NOW</button>
				</div>
			</div>
			<!--cards -->


			<div class="card11">

				<div class="image1">
					<img src="/img/ladis.jpg">
				</div>
				<div class="title">
					<h1>Ladies Scandals</h1>
				</div>
				<div class="des">
					<p>We Will Add Desccription about Scandals here..</p>
					<button class="hero-btn">BUY NOW</button>
				</div>
			</div>

		</div>
		
		<!-- Discount Section Ends here -->
		
		<!--  Start Latest Products -->
		
		<div class="head">
      <h2>LATEST PRODUCTS</h2>
   </div>
 
      <div class="product-card1">


         <div class="image">
            <img src="/img/earpot.jpg">
         </div>
         <div class="content">
            <div class="title">
               <h1>
                  Earpot</h1>
            </div>
            <div class="des">
               <p>We Will Add Desccription about Earpot here..</p>
               <div class="prices">
                  <p>RS.1500</p>
                  <p class="Stroke">Rs.2000</p>
               </div>
               <button class="product-btn">BUY NOW</button>
            </div>
         </div>
      </div>
    
      <!-- card -->
      <div class="product-card1">

         <div class="image">
            <img src="/img/headphone.jpg">
         </div>
         <div class="content">
            <div class="title">
               <h1>
                  Headphone</h1>
            </div>
            <div class="des">
               <p>We Will Add Desccription headphone here..</p>
               <div class="prices">
                  <p>RS.2500</p>
                  <p class="Stroke">Rs.2800</p>
               </div>
               <button class="product-btn">BUY NOW</button>
            </div>
         </div>
      </div>
  
      <div class="product-card1">

         <div class="image">
            <img src="/img/shoes.jpg">
         </div>
         <div class="content">
            <div class="title">
               <h1>
                 Shoes</h1>
            </div>
            <div class="des">
               <p>We Will Add Desccription about Earpot here..</p>
               <div class="prices">
                  <p>RS.1500</p>
                  <p class="Stroke">Rs.2000</p>
               </div>
               <button class="product-btn">BUY NOW</button>
            </div>
         </div>
 </div>
      
      <div class="product-card1">

         <div class="image">
            <img src="/img/ladis.jpg">
         </div>
         <div class="content">
            <div class="title">
               <h1>
                  Scandal</h1>
            </div>
            <div class="des">
               <p>We Will Add Desccription about Earpot here..</p>
               <div class="prices">
                  <p>RS.1500</p>
                  <p class="Stroke">Rs.2000</p>
               </div>
               <button class="product-btn">BUY NOW</button>
            </div>
         </div>
      </div>
      
	
		 
		<!-- Ends latest Products -->

	</section>
</body>
</html>